<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>pgBadger</title>
	<link rel="stylesheet" href="style.css" type="text/css" media="all" />
</head>
<body>
<div id="header">
	<h1>pgBadger</h1>
</div>
<div id="menu">
	<table width="100%"><tr><td align="left">
<cite id="menucite">&laquo; No! I'm not a fouine, I'm a badger! &raquo;</cite>
	</td><td align="right">
	<a href="index.html">Home</a> | 
	<a href="news.html">News</a> | 
	<a href="https://sourceforge.net/projects/pgbadger/" target="_new">Download</a> | 
        <a href="https://github.com/dalibo/pgbadger/"  target="_new">Code</a> |
	<a href="documentation.html">Documentation</a> | 
	<a href="sample.html">Sample reports</a> | 
	<a href="support.html">Support</a>
	</td></tr></table>
</div>

{{ content }}

<div id="footer">
&copy; 2012-2013 <strong><a href="http://www.dalibo.com/">Dalibo</a></strong>
</div>
</body>
</html>
